<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="binarySearch" class="com.algorithms.search.MyRecursiveBinarySearch">

	</bean>
        
	<bean id="quickSort" class="com.algorithms.sorting.MyQuickSort">

	</bean>        
 
	<bean id="AOPAroundMethodBean" class="com.aop.AOPAroundMethod" />
 
	<bean id="binarySearchProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="binarySearch" />
 
		<property name="interceptorNames">
			<list>
				<value>AOPAroundMethodBean</value>
			</list>
		</property>
	</bean> 
        
	<bean id="quickSortProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="quickSort" />
 
		<property name="interceptorNames">
			<list>
				<value>AOPAroundMethodBean</value>
			</list>
		</property>
	</bean>         
</beans>